/* Directivas de Tailwind */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Variables CSS personalizadas */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Estilos para el modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Estilos globales */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
  font-size: 16px;
  line-height: 1.5;
}

/* Soporte para idiomas RTL */
[dir="rtl"] {
  text-align: right;
}

/* Otros estilos globales... */

@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Utilidades personalizadas */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilos responsivos */
@media (max-width: 640px) {
  body {
    font-size: 14px;
  }
}

/* Fuentes para pdf */
@font-face {
  font-family: 'NotoSans';
  src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}